body {font-family: Verdana, sans-serif}
div.werty {margin: 0 auto; width: 800px; background-color: #FFDEAD}
#l, #r {width: 340px; margin-top: 30px; float: left}
#l {padding: 30px 20px 30px 40px; text-align: right}
#r {padding: 30px 40px 30px 20px}
#bottom {
width: 740px;
background-color: #E6E6FA;
margin: 35px 0 0 0;
border-top: 1px solid #ff3366;
padding: 20px 30px 20px 30px;
line-height: 180%;
text-align: center;
font-size: 10px
}
#header {
height: 130px;
width: 800px;
margin: 0;
padding: 0;
background: #F08080;
border-bottom: 1px solid #ff3366
}
#header h2 {padding-top:47px}
ul.nav {
display: block;
margin: 0;
padding: 0 0 0 91px;
list-style-type: none
}
ul.nav li {background-color: #660033; display: inline; padding: 0}
ul.nav li a:link, ul.nav li a:visited, ul.nav li a:active {
background-color: #660033;
padding: 5px 15px 1px 15px;
color: #cccccc;
text-decoration: none;
border-bottom: 2px solid #660033
}
ul.nav li a:hover {
background-color: #ffffff;
padding: 5px 15px 1px 15px;
color: #cc0000;
text-decoration: none;
border-bottom: 2px solid #660033
}
#spisok {margin-left: 30px}
a:link {color: #cccccc}
a:visited {color: #ffffff}
